* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: -apple-system, "Roboto";
}

body {
  margin: 0;
}

.todo {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  box-shadow: 1px 2px 10px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  &__sidebar {
    background-color: #e5e5e5;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
}

.button {
  background: #4dd599;
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 6);
  }
  &:active {
    background: darken(#4dd599, 10);
  }
  &:disabled {
    background: rgb(192, 192, 192);
  }
  &--grey {
    background: #f4f6f8;
    color: #9c9c9c;
    &:hover {
      background: darken(#f4f6f8, 6);
    }
    &:active {
      background: darken(#f4f6f8, 10);
    }
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #d1d0d0;
  }
}
